
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center title">Top Scorers </h2>

<hr />

<br />

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div>
            <iframe src="http://www.flashscore.com/standings/UqQ8LECO/WOO1nDO2/#top_scorers" width="556" height="660" frameborder="1"></iframe><br /><br /><br />
        </div>
    </div>

</div>

