<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://premierhub.nikolaosliliakidis.co.uk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://premierhub.nikolaosliliakidis.co.uk:8172/MsDeploy.axd?site=nickliliakidis-001-subsite4</MSDeployServiceURL>
    <DeployIisAppPath>nickliliakidis-001-subsite4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\nickliliakidis-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PremierHub.Models.ApplicationDbContext, PremierHub" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PremiersHubEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A2A46F_premierhub;Persist Security Info=True;User ID=DB_A2A46F_premierhub_admin;Password=nk162534;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PremierHub.Models.PremiersHubEntities, PremierHub" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PremiersHubEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PremierHub.csdl|res://*/Models.PremierHub.ssdl|res://*/Models.PremierHub.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A2A46F_premierhub;Persist Security Info=True;User ID=DB_A2A46F_premierhub_admin;Password=nk162534;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>